@model IEnumerable<CVGS.review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Reviews
        </th>
        <th>
            Reviewed By
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.review1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to Games", "Index", "Game")
</p>

